@font-face {
    font-family: 'MarkPro';
    src: url('fonts/MarkPro.ttf') format('truetype'); /* Use .ttf if .woff2 is not available */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarkPro';
    src: url('fonts/MarkPro-Bold.ttf') format('truetype'); /* Use the bold version as needed */
    font-weight: bold;
    font-style: normal;
}
