version: '3.3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: cnoec_guide_metier_app
    container_name: cnoec_guide_metier_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    environment:
      - PHP_EXTENSION=pdo_mysql
      - PHP_EXTENSION=mysqli
    networks:
      - app-network

  webserver:
    image: nginx:alpine
    container_name: cnoec_guide_metier_webserver
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

  db:
    image: mysql:5.7
    container_name: cnoec_guide_metier_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
      - ./cnoec_guide_metier.sql:/docker-entrypoint-initdb.d/cnoec_guide_metier.sql
    ports:
      - "3307:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: cnoec_guide_metier_phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "8080:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
